@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: black;
    background-color: #F2F2F2;
    margin: 0;
}

.page-container {
    background-color:white;
    width: 1200px;
    margin: 0 auto;
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.main-container {
    flex-grow: 1;
}

.navigation {
    width: 1060px;
    margin: 0 auto;
}

.Sedona-logo {
    display: block;
}

.header-navigation {
    display: flex;
}

.main-navigation {
    width: 750px;
    display: flex;
    margin-right: 28px;
}




.navigation-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.navigation-user {
    margin-left: auto;
}

.navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.navigation-user .navigation-link {
    padding: 22px 12px;
    margin: 0;
}

.navigation-item.navigation-link {
    padding-right: 0;
}



.welcome-to-sedona {
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}

.sedona-title {
    width: 620px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}

.description {
    font-size: 22px;
    line-height: 26px;
    margin: 0 auto;
}

.town-advantages-description {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
}

.town-advantages-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
    margin-bottom: 64px;
}



.button {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.search-link {
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
}

.welcome {
    background-image: url(../images/sedona.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 485px;
    color: #fff;
    background-size: 100% auto;
    background-color: #5D8FB7;
    margin-bottom: 70px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 25px;
}


.trip-advantages-description {
    width: 490px;
}

.town-advantages-title, .trip-advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 auto;
}

.town-advantages-title {
    width: 175px;
    padding-bottom: 62px;
    padding-top: 102px;
}

.special-item-container {
    display: flex;
}

.item {
    width: 400px;
    height: 385px;
}


.town-advantages-item-add {
    display: flex;
    width: 1200px;
}

.town-advantages-item .first, .town-advantages-item .fifth {
    color: #fff;
    background-color: #82B3D3;
}

.town-advantages-item .second, .town-advantages-item .fofth {
    background-color: #83B3D31F;

}

.town-advantages-item .third {
    background-color: #83B3D333;
}

.advantages-description {
    margin: 0 auto;
    text-align: center;
    width: 230px;
}

.call-title {
    margin: 0 auto;
    width: 505px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}

.trip-advantages-list {
    padding: 0;
    margin: 0;
    display: flex;
    margin-top: 64px;
    margin-bottom: 96px;
    list-style-type: none;
}

.item img {
    display: block;
    margin: 0 auto;
    padding-top: 81px;
}

.trip-advantages-title {
    width: 230px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.trip-advantages-item .hotel {
    background-color: rgba(131, 179, 211, 0.12);
}

.trip-advantages-item .gift {
    background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
    margin-bottom: 96px;
}

.hotel-search-title {
    width: 297px;
}

.hotel-search-description {
    width: 592px;
    text-align: center;
    margin-bottom: 54px;
}

.search-link {
    display: block;
    margin: 0 auto;
    width: 367px;
}

.subscribe {
    margin-bottom: 40px;
}

.main-subscribe {
    background-image: url(../images/view.jpg);
    width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5D8FB7;
    padding: 96px 258px 104px;
    box-sizing: border-box;
}

.catalog-subscribe {
    margin-bottom: 144px;
}

.subscribe-title {
    color: #fff;
    width: 404px;
}

.subscribe-description {
    color: #fff;
    width: 475px;
    text-align: center;
    margin-bottom: 54px;
}

.subscribe-form {
    display: flex;
    margin: 0 auto;
    width: 684px;
}

.subscribe-button {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    width: 232px;
    margin: 0 auto;
}

.contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000;
    margin-right: 235px;
}



.e-mail {
    margin: 0;
    padding: 0;
    display: block;
    line-height: 24px;
    background-color: #F2F2F2;
    width: 452px;
}

.page-footer-container {
    width: 1060px;
    margin: 0 auto;

}

.social-container {
    display: flex;
    flex-wrap: wrap;
    width: 142px;
    margin-right: 235px;
}


.contacts-list {
    margin: 0;
    margin-bottom: 35px;
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.social-item {
    padding: 10px;
}





.catalog-filter {
    display: flex;
}

.catalog-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.cost-filter-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.cost-item {
    width: 143px;
}

.filter-result {
    width: 1060px;
    margin: 0 auto;
}

.filter-header {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.filter-result-title {
    margin: 0;
    margin-right: 200px;
}


.view-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: auto;
}

.view-item {
    margin-right: 40px;
}

.view-item:last-child {
    margin-right: 0;
}


.infrastructure-filter, .hotel-type-filter {
    width: 150px;
}

.cost-filter {
    width: 288px;
}

.infrastructure-filter, .cost-filter {
    margin-right: 70px;
}

.hotel-type-filter {
    margin-right: 140px;
}

.hotel-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    gap: 20px;
    margin-bottom: 80px;
}

.hotel-item {
    display: grid;
    grid-template-areas:
        "hotel hotel"
        "type price"
        "info fav"
        "stars rating";
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 8px;
    padding: 20px;
}

.hotel-item img {
    margin-bottom: 16px;
}

.hotel-title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.hotel-link {
    grid-area: hotel;
}

.hotel-type {
    grid-area: type;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.hotel-cost {
    grid-area: price;
    text-align: right;
    margin: 0;
    padding: 0;
}

.more-info {
    grid-area: info;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 16px;
}

.to-favorites {
    grid-area: fav;
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 16px;
}

.hotel-rating {
    grid-area: rating;
    text-align: right;
    margin: 0;
    padding: 0;
}

.rating {
    grid-area: stars;
}


.sedona-hotel {
    background-image: url(../images/filter.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #5D8FB7;
}

.hotel-inner {
    width: 1060px;
    margin: 0 auto;
}

.sedona-hotels {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color:#fff;
    margin: 0;
    margin-bottom: 8px;
    padding-top: 35px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 40px;
}

.breadcrumbs-item:first-child {
    margin-right: 28px;
}

.breadcrumbs-link {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.filter-item {
    line-height: 23px;
    color: white;
}

.cost-item {
    font-weight: 800;
    line-height: 24px;
}

.range-item {
    line-height: 24px;
    color: rgba(0, 0, 0);
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.setup-button {
    background-color: #82B3D3;
    margin-bottom: 32px;
}

.reset-button {
    background-color: transparent;
    border: 0;
}

.filter-result-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.option {
    color: rgba(51, 51, 51);
}

.hotel-link {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000;
    text-decoration: none;
}

.hotel-filter {
    padding-bottom: 70px;
}

.hotel-filter fieldset {
    border: 0;
}

.to-favorites {
    background-color: #82B3D3;
}

.in-favorites {
    background-color: rgba(125, 181, 79);
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.pagination {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    margin-bottom: 156px;
}

.pagination-item {
    margin-right: 8px;
}

.pagination-item:last-child {
    margin-right: 0;

}

.pagination-link {
    display: flex;
    font-weight: 700;
    color: white;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    background-color: #82B3D3;
    width: 60px;
    height: 60px;
    padding: 12px 2;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.pagination-current {
    color: #000;
    background-color: #F2F2F2;
}

.pagination-another {
    background-color: transparent;
    color: #000;
}


.subscribe-title-catalog {
    color: #000;
}

.subscribe-description-catalog {
    color:#000;
}
